@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #22254b;
    
}

header {
    background-color: #373b69; 
    padding: 1.5rem; 
    display: flex;
    justify-content: space-between;

}

header h1 {
    color:white; 
}

.search {
    padding: 0.5rem 1rem; 
    border-radius: 50px; 
    border: 2px solid #22254b; 
    font-family: inherit;
    background-color: transparent;
    color:white; 
    
}
.search::placeholder {
    color:#7378c5;
}

.search:focus{
    background-color: #22254b;
    outline: none;
}
main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.2); 
    width: 300px; 
    margin:2rem; 
    position:relative; 
   
}

.movie img {
    width: 100%;
   
   

    
}
.movie-info {
    color:white; 
    display: flex;
    justify-content: space-between;
    padding:0.5rem 0.5rem 1rem; 
   
}

.movie-info h3 {
    margin:0; 
    letter-spacing: 1px;
}

.movie-info span {
    background-color: #22254b; 
    border-radius: 3px;
    padding: 0.25rem 0.5rem; 
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(31, 238, 31);
}
.movie-info span.orange {
    color: orange; 
}
.movie-info span.red {
    color: rgb(248, 15, 15); 
}

.overview {
    background-color: white;
    padding: 2rem; 
    position:absolute; 
    top:0; 
    left:0; 
    bottom:0;
    right: 0; 
    transform: translateY(101%);
    display: none;
}

.overview h3 {
    margin-top: 0; 
}

.movie:hover .overview{
    overflow: auto;
    display: block;
    transform: translateY(0);
}